@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply text-white w-full py-3 px-6 rounded bg-primary-500 lg:hover:bg-primary-600 active:bg-primary-600 cursor-pointer shadow-lg shadow-primary-500/40;
    }

    .link {
        @apply text-sm text-primary-500 underline hover:text-primary-600 active:text-primary-600;
    }
}